<section id="blog" class="main show blog">
    <h1 class="fixed">Blog</h1>
    <div class="row-fluid">
        <div class="offset2 span6">
            <h2 class="fixed"></h2>
        </div>
    </div>
    <div class="content row-fluid">
        <div class="span3 sidebar-blog hidden-phone">
            <aside id="search-2" class="widget widget_search">
                <h6>Search&#8230;</h6>
                <form method="get" class="search-form" action="#">
                    <fieldset class="relative">
                        <input type="text" name="s" id="s" class="input-block-level" placeholder="Search ..." value="" />
                        <button type="submit" class="submit" name="submit" id="searchsubmit"></button>
                    </fieldset>
                </form>
            </aside>
            <aside id="categories-2" class="widget widget_categories">
                <h6>Categories</h6>
                <ul>
                    <li class="cat-item cat-item-9"><a href="#category/apps/" title="View all posts filed under Apps">Apps</a> (4)</li>
                    <li class="cat-item cat-item-34"><a href="#category/games/" title="View all posts filed under Games">Games</a> (1)</li>
                    <li class="cat-item cat-item-36"><a href="#category/misc/" title="View all posts filed under Misc">Misc</a> (1)</li>
                    <li class="cat-item cat-item-35"><a href="#category/products/" title="View all posts filed under Products">Products</a> (1)</li>
                    <li class="cat-item cat-item-33"><a href="#category/tech/" title="View all posts filed under Tech">Tech</a> (3)</li>
                </ul>
            </aside>
            <aside id="pt_recent_posts_widget-2" class="widget pt_recent_posts_widget">
                <h6>Latest News</h6>
                <ul>
                    <li>
                        <a href="blog-post.html" title="Is Google Building a Games Console?" class="image">
                            <img width="74" height="50" src="img/blog/144948918-74x50.jpg" class="attachment-blog-featured-widget wp-post-image" alt="144948918" />
                            <p class="post-title span9">
                                Is Google Building a Games Console?
                            </p>
                            <span class="post-date span12">June 28, 2013</span>
                        </a>
                    </li>
                    <li>
                        <a href="blog-post.html" title="Google Glass: Operating Room" class="image">
                            <img width="74" height="50" src="img/blog/google-glass-12-of-12-74x50.jpg" class="attachment-blog-featured-widget wp-post-image" alt="google-glass-12-of-12" />
                            <p class="post-title span9">
                                Google Glass: Operating Room
                            </p>
                            <span class="post-date span12">June 28, 2013</span>
                        </a>
                    </li>
                    <li>
                        <a href="blog-post.html" title="Is It the Dawn of the Encryption App?" class="image">
                            <img width="74" height="50" src="img/blog/Crypto2WEB-74x50.jpg" class="attachment-blog-featured-widget wp-post-image" alt="Crypto2WEB" />
                            <p class="post-title span9">
                                Is It the Dawn of the Encryption App?
                            </p>
                            <span class="post-date span12">June 28, 2013</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <aside id="pt_video_widget-2" class="widget pt_video_widget">
                <h6>Video</h6>
                <a href="https://www.youtube.com/watch?v=XKcwNIPiGKc" class="popup mfp-iframe">
                    <img src="http://img.youtube.com/vi/XKcwNIPiGKc/hqdefault.jpg">
                    <div class="video-title">
                        <span class="play-icon">&#9656;</span>
                        <p>The Last of Us</p>
                    </div>
                </a>
            </aside>
            <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                <h6>Tags</h6>
                <div class="tagcloud"><a href='#tag/apps-2/' class='tag-link-13' title='1 topic' style='font-size: 8pt;'>APPS</a>
                    <a href='#tag/business/' class='tag-link-10' title='1 topic' style='font-size: 8pt;'>Business</a>
                    <a href='#tag/encryption/' class='tag-link-16' title='1 topic' style='font-size: 8pt;'>ENCRYPTION</a>
                    <a href='#tag/evernone/' class='tag-link-11' title='1 topic' style='font-size: 8pt;'>Evernone</a>
                    <a href='#tag/medicine/' class='tag-link-28' title='1 topic' style='font-size: 8pt;'>MEDICINE</a>
                    <a href='#tag/mobile/' class='tag-link-17' title='2 topics' style='font-size: 22pt;'>MOBILE</a>
                    <a href='#tag/nsa/' class='tag-link-18' title='1 topic' style='font-size: 8pt;'>NSA</a>
                    <a href='#tag/privacy/' class='tag-link-19' title='1 topic' style='font-size: 8pt;'>PRIVACY</a>
                    <a href='#tag/startup/' class='tag-link-12' title='1 topic' style='font-size: 8pt;'>Startup</a>
                    <a href='#tag/tech/' class='tag-link-21' title='2 topics' style='font-size: 22pt;'>TECH</a>
                    <a href='#tag/u-s/' class='tag-link-22' title='1 topic' style='font-size: 8pt;'>U.S.</a>
                    <a href='#tag/world/' class='tag-link-24' title='1 topic' style='font-size: 8pt;'>WORLD</a>
                </div>
            </aside>
            <aside id="text-2" class="widget widget_text">
                <h6>Welcome to our blog</h6>
                <div class="textwidget">This is a blog page, it displays your latest or selected posts. You can choose from various post types, layouts.</div>
            </aside>
            <aside id="archives-2" class="widget widget_archive">
                <h6>Archives</h6>
                <ul>
                    <li><a href='#2013/06/' title='June 2013'>June 2013</a></li>
                </ul>
            </aside>
        </div>
        <div class="span8 offset1">
            <ul>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6"><img width="246" height="138" src="img/blog/144948918-246x138.jpg" class="attachment-blog-featured-thumb wp-post-image" alt="144948918" /><span class="gradient"></span></figure>
                        <div class="span6 blog-title">
                            <h2>Is Google Building a Games Console?</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6"><img width="246" height="138" src="img/blog/google-glass-12-of-12-246x138.jpg" class="attachment-blog-featured-thumb wp-post-image" alt="google-glass-12-of-12" /><span class="gradient"></span></figure>
                        <div class="span6 blog-title">
                            <h2>Google Glass: Operating Room</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6"><img width="246" height="138" src="img/blog/Crypto2WEB-246x138.jpg" class="attachment-blog-featured-thumb wp-post-image" alt="Crypto2WEB" /><span class="gradient"></span></figure>
                        <div class="span6 blog-title">
                            <h2>Is It the Dawn of the Encryption App?</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6"><img width="246" height="138" src="img/blog/mbareview-5-246x138.jpg" class="attachment-blog-featured-thumb wp-post-image" alt="mbareview-5" /><span class="gradient"></span></figure>
                        <div class="span6 blog-title">
                            <h2>MacBook Air 2013</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6"><img width="246" height="138" src="img/blog/Wen-Ma-1-246x138.jpg" class="attachment-blog-featured-thumb wp-post-image" alt="Wen-Ma-1" /><span class="gradient"></span></figure>
                        <div class="span6 blog-title">
                            <h2>Olympic Pool</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6">
                            <img src="http://img.youtube.com/vi/IJLd8uWoZn8/hqdefault.jpg"  class="blog-video-thumb" ><span class="gradient"></span>
                            <div class="video-title"><span class="play-icon">&#9656;</span></div>
                        </figure>
                        <div class="span6 blog-title">
                            <h2>Happy 5th Birthday, Evernote!</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6">
                            <img src="http://b.vimeocdn.com/ts/439/795/439795756_640.jpg"  class="blog-video-thumb" ><span class="gradient"></span>
                            <div class="video-title"><span class="play-icon">&#9656;</span></div>
                        </figure>
                        <div class="span6 blog-title">
                            <h2>Humans Are Awesome</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6"><img width="246" height="138" src="img/blog/vine-marker-246x138.jpg" class="attachment-blog-featured-thumb wp-post-image" alt="vine-marker" /><span class="gradient"></span></figure>
                        <div class="span6 blog-title">
                            <h2>Vine Adds Verified Badges</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
                <li class="row-fluid">
                    <a href="blog-post.html" class="blog-normal">
                        <figure class="span6">
                            <img src="http://b.vimeocdn.com/ts/242/843/242843090_640.jpg"  class="blog-video-thumb" ><span class="gradient"></span>
                            <div class="video-title"><span class="play-icon">&#9656;</span></div>
                        </figure>
                        <div class="span6 blog-title">
                            <h2>This is the new Vimeo.</h2>
                            <p class="subtitle"><em>June 28, 2013</em> | <em>0 Comments</em></p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pagination pagination-centered">
                <ul class='page-numbers'>
                    <li><span class='page-numbers current'>1</span></li>
                    <li><a class='page-numbers' href='#'>2</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
