<perch:before>
<h6>Tags</h6>
<div class="tagcloud">
</perch:before>
    <a class='tag-link-13' style='font-size: 8pt;' href="archive.php?tag=<perch:blog id="tagSlug" />" rel="tag"><perch:blog id="tagTitle" /> (<perch:blog id="qty" />)</a>
<perch:after></div></perch:after>











<h6>Tags</h6>
<div class="tagcloud"><a href='#tag/apps-2/' class='tag-link-13' title='1 topic' style='font-size: 8pt;'>APPS</a>
    <a href='#tag/business/' class='tag-link-10' title='1 topic' style='font-size: 8pt;'>Business</a>
    <a href='#tag/encryption/' class='tag-link-16' title='1 topic' style='font-size: 8pt;'>ENCRYPTION</a>
    <a href='#tag/evernone/' class='tag-link-11' title='1 topic' style='font-size: 8pt;'>Evernone</a>
    <a href='#tag/medicine/' class='tag-link-28' title='1 topic' style='font-size: 8pt;'>MEDICINE</a>
    <a href='#tag/mobile/' class='tag-link-17' title='2 topics' style='font-size: 22pt;'>MOBILE</a>
    <a href='#tag/nsa/' class='tag-link-18' title='1 topic' style='font-size: 8pt;'>NSA</a>
    <a href='#tag/privacy/' class='tag-link-19' title='1 topic' style='font-size: 8pt;'>PRIVACY</a>
    <a href='#tag/startup/' class='tag-link-12' title='1 topic' style='font-size: 8pt;'>Startup</a>
    <a href='#tag/tech/' class='tag-link-21' title='2 topics' style='font-size: 22pt;'>TECH</a>
    <a href='#tag/u-s/' class='tag-link-22' title='1 topic' style='font-size: 8pt;'>U.S.</a>
    <a href='#tag/world/' class='tag-link-24' title='1 topic' style='font-size: 8pt;'>WORLD</a>
</div>